<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GRAVITY_FIELD_BH</key>
	<dict>
		<key>hex</key>
		<string>#70D000</string>
		<key>alpha</key>
		<string>#20</string>
	</dict>
	<key>BALL_AIM_READY</key>
	<dict>
		<key>hex</key>
		<string>#457B9D</string>
		<key>alpha</key>
		<string>#FF</string>
	</dict>
	<key>ORBIT_LINE</key>
	<dict>
		<key>hex</key>
		<string>#FFFFFF</string>
		<key>alpha</key>
		<string>#30</string>
	</dict>
	<key>GAME_BOUNDS_LINE</key>
	<dict>
		<key>hex</key>
		<string>#E63946</string>
		<key>alpha</key>
		<string>#FF</string>
	</dict>
	<key>SLIDER_ON</key>
	<dict>
		<key>hex</key>
		<string>#E63946</string>
		<key>alpha</key>
		<string>#FF</string>
	</dict>
	<key>SLIDER_OFF</key>
	<dict>
		<key>hex</key>
		<string>#1D3557</string>
		<key>alpha</key>
		<string>#FF</string>
	</dict>
	<key>TEXT_RED</key>
	<dict>
		<key>hex</key>
		<string>#E63946</string>
		<key>alpha</key>
		<string>#FF</string>
	</dict>
	<key>TEXT_MAIN</key>
	<dict>
		<key>hex</key>
		<string>#F1FAEE</string>
		<key>alpha</key>
		<string>#FF</string>
	</dict>
	<key>TEXT_SHADOW</key>
	<dict>
		<key>hex</key>
		<string>#223D4E</string>
		<key>alpha</key>
		<string>#FF</string>
	</dict>
	<key>GRAVITY_FIELD</key>
	<dict>
		<key>hex</key>
		<string>#0070D0</string>
		<key>alpha</key>
		<string>#40</string>
	</dict>
	<key>SKY</key>
	<dict>
		<key>hex</key>
		<string>#0A0A0B</string>
		<key>alpha</key>
		<string>#FF</string>
	</dict>
</dict>
</plist>
